@using PortalClienteV2.Utilities.Helpers
@model HistorialCitaViewModel;
@{
    ViewData["title"] = "Historial de citas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var HcPaciente = TempData["HcPaciente"];
    TempData.Keep("HcPaciente"); // Mantener Hc en TempData
    bool activeTrat = false;
}

<div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
    <div class="card-body px-4 py-3">
        <div class="row align-items-center">
            <div class="col-9">
                <h4 class="fw-semibold mb-8 text-primary">
                    Historial de citas
                </h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-muted text-decoration-none" asp-action="Index" asp-controller="Home">Inicio</a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">Historial de citas</li>
                    </ol>
                </nav>
            </div>
            <div class="col-3">
                <div class="text-center">
@*                     <svg xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" viewBox="0 0 22 22" class="cc BTC text-primary fs-7">
                        <g fill="none" stroke="currentColor">
                            <path d="M18 2.5c.651 0 .977 0 1.241.083a1.8 1.8 0 0 1 1.176 1.176c.083.264.083.59.083 1.241v11.62c0 1.008 0 1.512-.196 1.897a1.8 1.8 0 0 1-.787.787c-.385.196-.889.196-1.897.196H6.38c-1.008 0-1.512 0-1.897-.196a1.8 1.8 0 0 1-.787-.787c-.196-.385-.196-.889-.196-1.897V5c0-.651 0-.977.083-1.241A1.8 1.8 0 0 1 4.76 2.583C5.023 2.5 5.349 2.5 6 2.5" />
                            <path d="M20.5 12.5h-2.558c-.696 0-1.044 0-1.306.189c-.262.188-.372.518-.592 1.178l-.088.265c-.22.66-.33.99-.592 1.18c-.262.188-.61.188-1.306.188H9.943c-.696 0-1.044 0-1.306-.189c-.262-.188-.372-.518-.592-1.178l-.088-.265c-.22-.66-.33-.99-.592-1.18c-.262-.188-.61-.188-1.306-.188H3.5m12.667 1H7.833m12.667-6h-2.558c-.696 0-1.044 0-1.306.189s-.372.519-.592 1.179l-.088.264c-.22.66-.33.99-.592 1.18c-.262.188-.61.188-1.306.188H9.943c-.696 0-1.044 0-1.306-.189c-.262-.188-.372-.519-.592-1.179l-.088-.264c-.22-.66-.33-.99-.592-1.18c-.262-.188-.61-.188-1.306-.188H3.5m12.667 1H7.833m10.667-6h-.558c-.696 0-1.044 0-1.306.189s-.372.519-.592 1.179l-.088.264c-.22.66-.33.99-.592 1.18c-.262.188-.61.188-1.306.188H9.943c-.696 0-1.044 0-1.306-.189s-.372-.519-.592-1.179l-.088-.264c-.22-.66-.33-.99-.592-1.18c-.262-.188-.61-.188-1.306-.188H5.5m10.667 1H7.833" />
                        </g>
                    </svg> *@
                    <svg xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" viewBox="0 0 48 48" class="cc BTC text-primary fs-7">
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
                            <path d="M42 24V9a3 3 0 0 0-3-3H9a3 3 0 0 0-3 3v30a3 3 0 0 0 3 3h15" stroke-dasharray="100" stroke-dashoffset="100">
                                <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.7s" dur="0.5s" values="100;0" />
                            </path>
                            <circle cx="32" cy="32" r="6" stroke-dasharray="37.7" stroke-dashoffset="37.7">
                                <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.7s" dur="0.5s" values="37.7;0" />
                            </circle>
                            <path d="m37 36l5 4M14 16h20m-20 8h8" stroke-dasharray="64" stroke-dashoffset="64">
                                <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.7s" dur="0.5s" values="64;0" />
                            </path>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <form asp-controller="HistorialCita" asp-action="Informe" method="post" onsubmit="return subminLoagin(this)" id="formInforme">
        <div class="text-center">
            <h4 class="text-primary">Seleccionar a la persona atendida :</h4>
            <div class="col-md-4 m-auto" style="text-align:justify">
                <div class="input-group mb-3">
                    <select class="form-select border border-primary text-primary border-primary text-primary" aria-label="" aria-describedby="basic-addon1" asp-for="HistoriaClinica" asp-items="@Model.ListHistoriaClinica" required="" onchange="mostrarInforme()">
                        <option disabled selected>--Seleccionar --</option>
                    </select>
                    <span asp-validation-for="HistoriaClinica" class="text-danger"></span>
                    <a class="btn bg-primary-subtle text-primary rounded-end" id="btnMostrar" onclick="mostrarInforme(this)">
                        <span class="me-1">Mostrar</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                            <path d="M21 21l-6 -6" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <hr />
    </form>
    
    <ul class="nav nav-underline nav-fill mt-2 col-md-6 m-auto" id="myTab" role="tablist">
        @if (Model.ListaHistorialDiagnostico != null && Model.ListaHistorialDiagnostico.Count > 0)
        {
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="linkDiag-tab" data-bs-toggle="tab" href="#linkDiag" role="tab" aria-controls="linkDiag" aria-expanded="true" aria-selected="true" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" viewBox="0 0 24 24" class="text-info me-2">
                        <path fill="currentColor" d="M9.34 2a2 2 0 0 0 0 4h2V4a2 2 0 0 0-2-2m0 5.33H4a2 2 0 1 0 0 4h5.34a2 2 0 0 0 0-4" opacity="0.25"></path>
                        <path fill="currentColor" d="M22 9.33a2 2 0 1 0-4 0v2h2a2 2 0 0 0 2-2m-5.32 0V4a2 2 0 1 0-4 0v5.33a2 2 0 1 0 4 0" opacity="0.5"></path>
                        <path fill="currentColor" d="M14.66 22a2 2 0 0 0 0-4h-2v2a2 2 0 0 0 2 2m0-5.33H20a2 2 0 0 0 0-4h-5.34a2 2 0 0 0 0 4" opacity="0.7"></path>
                        <path fill="currentColor" d="M2 14.67a2 2 0 1 0 4 0v-2H4a2 2 0 0 0-2 2m5.32 0V20a2 2 0 1 0 4 0v-5.33a2 2 0 1 0-4 0"></path>
                    </svg>
                    <b class="fs-6">Diagnostico</b>
                </a>
            </li>
            activeTrat = false;
        }
        else
        {
            activeTrat = true;
        }
        @if (Model.ListaHistorialTratamiento != null && Model.ListaHistorialTratamiento.Count > 0)
        {
            <li class="nav-item" role="presentation">
                <a class="nav-link @(activeTrat? "active":"")" id="linkTrat-tab" data-bs-toggle="tab" href="#linkTrat" role="tab" aria-controls="linkTrat" aria-selected="false" tabindex="-1" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" viewBox="0 0 24 24" class="text-warning me-2">
                        <path fill="currentColor" d="M9.34 2a2 2 0 0 0 0 4h2V4a2 2 0 0 0-2-2m0 5.33H4a2 2 0 1 0 0 4h5.34a2 2 0 0 0 0-4" opacity="0.25"></path>
                        <path fill="currentColor" d="M22 9.33a2 2 0 1 0-4 0v2h2a2 2 0 0 0 2-2m-5.32 0V4a2 2 0 1 0-4 0v5.33a2 2 0 1 0 4 0" opacity="0.5"></path>
                        <path fill="currentColor" d="M14.66 22a2 2 0 0 0 0-4h-2v2a2 2 0 0 0 2 2m0-5.33H20a2 2 0 0 0 0-4h-5.34a2 2 0 0 0 0 4" opacity="0.7"></path>
                        <path fill="currentColor" d="M2 14.67a2 2 0 1 0 4 0v-2H4a2 2 0 0 0-2 2m5.32 0V20a2 2 0 1 0 4 0v-5.33a2 2 0 1 0-4 0"></path>
                    </svg>
                    <b class="fs-6">Tratamiento</b>
                </a>
            </li>   
        }
        else
        {
            activeTrat = false;
        }
        
    </ul>
    <div class="tab-content tabcontent-border p-3" id="myTabContent">
        <div id="linkDiag" class="tab-pane fade @(!activeTrat? "active show":"")" role="tabpanel" aria-labelledby="linkDiag-tab">
            <!-- historial Diagnostico-->
            @if (Model.ListaHistorialDiagnostico != null && Model.ListaHistorialDiagnostico.Count > 0)
            {
                var diagnosticoAgrupadoPorHistorial = Model.ListaHistorialDiagnostico
                .Where(h => h.esCitaPago == 1)
                .GroupBy(h => h.historialPacienteID)
                .Select(g => new
                {
                    HistorialPacienteID = g.Key,
                    // Aquí seleccionamos la primera cita del grupo para tomar EvaluacionNombre y PersonalID
                    EvaluacionNombre = g.FirstOrDefault().evaluacionNombre,
                    NroRegistro = g.FirstOrDefault().numeroRegistro,
                    Especialista = g.FirstOrDefault().fullName,
                    FechaInicio = g.FirstOrDefault().fechaInicio,
                    FechaFin = g.FirstOrDefault().fechaFin,
                    HistorialEstado = g.FirstOrDefault().nombreEstado,
                    Citas = g.ToList() // Todas las citas del grupo
                })
                .OrderBy(grupo => grupo.NroRegistro) // Aquí ordenamos por NroRegistro
                .ToList();


                <div class="accordion" id="accordionExample1">
                    <div class="d-flex accordion-item p-1 bg-muted px-2 px-md-4">
                        <a id="sortDx" onclick="sortDivs1(this)" class="btn btn-info fs-5 p-0 px-1 text-white me-2" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="<b class='text-info'>Ordenar</b>"><i class="ti ti-sort-ascending-2"></i></a>
                        <div>
                            <H5 class="text-white my-1">Evaluaciones</H5>
                        </div>
                        <div class="ms-auto text-end">
                            <a asp-controller="HistorialCita" asp-action="Imprimir" asp-route-hc="@Model.HistoriaClinica" asp-route-area="dx" Target="_blank" class="d-flex text-white p-0 btn btn-info p-0 px-1 text-white">
                                <b class="mx-2 pt-1 d-none d-md-block">
                                    Abrir PDF
                                </b>
                                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2"><path d="M18.353 14H19c.943 0 1.414 0 1.707-.293S21 12.943 21 12v-1c0-1.886 0-2.828-.586-3.414S18.886 7 17 7H7c-1.886 0-2.828 0-3.414.586S3 9.114 3 11v2c0 .471 0 .707.146.854C3.293 14 3.53 14 4 14h1.647" /><path d="M6 20.306V12c0-.943 0-1.414.293-1.707S7.057 10 8 10h8c.943 0 1.414 0 1.707.293S18 11.057 18 12v8.306c0 .317 0 .475-.104.55s-.254.025-.554-.075l-2.184-.728c-.078-.026-.117-.04-.158-.04s-.08.014-.158.04l-2.684.894c-.078.026-.117.04-.158.04s-.08-.014-.158-.04l-2.684-.894c-.078-.026-.117-.04-.158-.04s-.08.014-.158.04l-2.184.728c-.3.1-.45.15-.554.075S6 20.623 6 20.306ZM18 7V5.88c0-1.008 0-1.512-.196-1.897a1.8 1.8 0 0 0-.787-.787C16.632 3 16.128 3 15.12 3H8.88c-1.008 0-1.512 0-1.897.196a1.8 1.8 0 0 0-.787.787C6 4.368 6 4.872 6 5.88V7" /><path stroke-linecap="round" d="M10 14h3m-3 3h4.5" /></g></svg>
                            </a>
                        </div>
                    </div>
                    
                    <div class="subtitle-info mb-2"></div>
                    @for (int i = 0; i < diagnosticoAgrupadoPorHistorial.Count; i++)
                    {
                        var grupo = diagnosticoAgrupadoPorHistorial[i];

                        <div class="accordion-item bg-light" id="@i">
                            <h2 class="accordion-header" id="heading-@i">
                                <button class="accordion-button @if(i != 0) {
                        <text>collapsed</text>
}"
                                                                        type="button"
                                                                        data-bs-toggle="collapse"
                                                                        data-bs-target="#collapse-@i"
                                                                        aria-expanded="@((i == 0).ToString().ToLower())"
                                                                        aria-controls="collapse-@i">

                                                                    <div class="d-flex align-items-center w-100">
                                                                        <div class="d-flex col-8">
                                                                            <div class="p-2 bg-info-subtle rounded-2 d-flex align-items-center me-6">
                                                @* <img src="../assets/images/svgs/icon-paypal2.svg" alt="" class="img-fluid" width="24" height="24"> *@
                                                                                <b>@grupo.NroRegistro</b>
                                                                            </div>
                                                                            <div class="me-md-5">
                                                                                <h6 class="mb-1 fs-4 fw-semibold text-dark">@grupo.EvaluacionNombre</h6>
                                                                                <p class="fs-3 mb-0">
                                                                                <b class="text-dark">Inicio:</b>
                                                    @if (grupo.FechaInicio.HasValue)
                                                    {
                                                        <text>@grupo.FechaInicio.Value.ToString("dd/MM/yyyy")</text>
                                                    }
                                                                                        <br />
                                                                                        <b class="text-dark">Fin: </b>
                                                    @if (grupo.FechaFin.HasValue)
                                                    {
                                                        <text>@grupo.FechaFin.Value.ToString("dd/MM/yyyy")</text>
                                                    }
                                                                                </p>
                                                                                <p><b class="text-dark">ESPECIALISTA: </b> @grupo.Especialista</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <h6 class="mb-0 fw-semibold rotate-270">@grupo.HistorialEstado</h6>
                                                                        </div>
                                                                    </div>
                                                                </button>
                            </h2>
                            <div id="collapse-@i" class="accordion-collapse collapse @if(i == 0) {
                    <text>show</text>
}"
                                                                 aria-labelledby="heading-@i"
                                                                 data-bs-parent="#accordionExample1">
                                                                <div class="accordion-body">
                                                                    <ul class="list-group">
                                                                        <li class="d-flex bg-info-subtle py-1 border-bottom">
                                                                            <div class="col-1 text-center fw-semibold d-none d-md-block">Cita</div>
                                                                            <div class="col-2 text-center fw-semibold d-none d-md-block">Fecha</div>
                                                                            <div class="col-2 text-center fw-semibold d-none d-md-block">Hora Inicio</div>
                                                                            <div class="col-2 text-center fw-semibold d-none d-md-block">Hora Fin</div>
                                                                            <div class="col-1 text-center fw-semibold d-none d-md-block">Asistio</div>
                                                                            <div class="col-2 text-center fw-semibold d-none d-md-block">Estado</div>
                                                                            <div class="col-2 text-center fw-semibold d-none d-md-block">Recibo</div>
                                                                        </li>
                                        @foreach (var cita in grupo.Citas)
                                        {
                                                                                            <li class="d-md-flex bg-white py-2 border-bottom">
                                                                                                <div class="d-flex d-md-block col-md-1 col-12 text-center"><strong class="d-md-none d-block mx-2 col-4">Cita: </strong> @cita.numeroCita</div>
                                                                                                <div class="d-flex d-md-block col-md-2 col-12 text-center"><strong class="d-md-none d-block mx-2 col-4">Fecha: </strong> @cita.fechaCita?.ToString("dd/MM/yyyy")</div>
                                                                                                <div class="d-flex d-md-block col-md-2 col-12 text-center"><strong class="d-md-none d-block mx-2 col-4">Hora Inicio: </strong> @(Helper.ConvertirHora(cita.horaCitaDesde))</div>
                                                                                                <div class="d-flex d-md-block col-md-2 col-12 text-center"><strong class="d-md-none d-block mx-2 col-4">Hora Fin: </strong> @(Helper.ConvertirHora(cita.horaCitaHasta))</div>
                                                                                                <div class="d-flex d-md-block col-md-1 col-12 text-center"><strong class="d-md-none d-block mx-2 col-4">Asistio: </strong> @(cita.asistioCita == true ? "SI" : "NO")</div>
                                                                                                <div class="d-flex d-md-block col-md-2 col-12 text-center"><strong class="d-md-none d-block mx-2 col-4">Estado: </strong> @cita.citaEstadoNombre</div>
                                                                                                <div class="d-flex d-md-block col-md-2 col-12 text-center"><strong class="d-md-none d-block mx-2 col-4">Recibo: </strong> @cita.numeroRecibo</div>
                                                                                            </li>
                                        }
                                                                    </ul>
                                                                </div>
                                                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="accordion" id="accordionExample1">
                    <div class="accordion-item p-2  ps-4">
                        <H5 class="accordion-header">No hay evaluaciones para mostrar</H5>
                    </div>
                </div>
            }
            <!-- Final historial Diagnostico-->
        </div>
        <div id="linkTrat" class="tab-pane fade @(activeTrat? "active show":"")" role="tabpanel" aria-labelledby="linkTrat-tab">
            <!-- historial Tratamiento-->
            @if (Model.ListaHistorialTratamiento != null && Model.ListaHistorialTratamiento.Count > 0)
            {
                var tratamientoAgrupadoPorHistorial = Model.ListaHistorialTratamiento
                .Where(h => h.esCitaPago == 1)
                .GroupBy(h => h.historialPacienteID)
                .Select(g => new
                {
                    HistorialPacienteID = g.Key,
                    // Aquí seleccionamos la primera cita del grupo para tomar EvaluacionNombre y PersonalID
                    EvaluacionNombre = g.FirstOrDefault().evaluacionNombre,
                    NroRegistro = g.FirstOrDefault().numeroRegistro,
                    Especialista = g.FirstOrDefault().fullName,
                    FechaInicio = g.FirstOrDefault().fechaInicio,
                    FechaFin = g.FirstOrDefault().fechaFin,
                    HistorialEstado = g.FirstOrDefault().nombreEstado,
                    Citas = g.ToList() // Todas las citas del grupo
                })
                .OrderBy(grupo => grupo.NroRegistro) // Aquí ordenamos por NroRegistro
                .ToList();


                <div class="accordion" id="accordionExample2">
                    <div class="d-flex accordion-item p-1 bg-muted px-2 px-md-4">
                        <a id="sortTx" onclick="sortDivs2(this)" class="btn btn-success fs-5 p-0 px-1 text-white me-2" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="<b class='text-success'>Ordenar</b>"><i class="ti ti-sort-ascending-2"></i></a>
                        <div>
                            <H5 class="text-white my-1">Terapias</H5>
                        </div>
                        <div class="ms-auto text-end" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="<b class='text-info'>Imprimir</b>">
                            <a asp-controller="HistorialCita" asp-action="Imprimir" asp-route-hc="@Model.HistoriaClinica" asp-route-area="tx" Target="_blank" class="d-flex text-white p-0 btn btn-success p-0 px-1 text-white">
                                <b class="mx-2 pt-1 d-none d-md-block">
                                    Abrir PDF
                                </b>
                                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2"><path d="M18.353 14H19c.943 0 1.414 0 1.707-.293S21 12.943 21 12v-1c0-1.886 0-2.828-.586-3.414S18.886 7 17 7H7c-1.886 0-2.828 0-3.414.586S3 9.114 3 11v2c0 .471 0 .707.146.854C3.293 14 3.53 14 4 14h1.647" /><path d="M6 20.306V12c0-.943 0-1.414.293-1.707S7.057 10 8 10h8c.943 0 1.414 0 1.707.293S18 11.057 18 12v8.306c0 .317 0 .475-.104.55s-.254.025-.554-.075l-2.184-.728c-.078-.026-.117-.04-.158-.04s-.08.014-.158.04l-2.684.894c-.078.026-.117.04-.158.04s-.08-.014-.158-.04l-2.684-.894c-.078-.026-.117-.04-.158-.04s-.08.014-.158.04l-2.184.728c-.3.1-.45.15-.554.075S6 20.623 6 20.306ZM18 7V5.88c0-1.008 0-1.512-.196-1.897a1.8 1.8 0 0 0-.787-.787C16.632 3 16.128 3 15.12 3H8.88c-1.008 0-1.512 0-1.897.196a1.8 1.8 0 0 0-.787.787C6 4.368 6 4.872 6 5.88V7" /><path stroke-linecap="round" d="M10 14h3m-3 3h4.5" /></g></svg>
                            </a>
                        </div>
                    </div>
                    <div class="subtitle-success mb-2"></div>
                    @for (int i = 0; i < tratamientoAgrupadoPorHistorial.Count; i++)
                    {
                        var grupo = tratamientoAgrupadoPorHistorial[i];

                        <div class="accordion-item bg-light" id="@i">
                            <h2 class="accordion-header" id="heading-@i">
                                <button class="accordion-button @if(i != 0) {
                        <text>collapsed</text>
}"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapse-@i"
                                                aria-expanded="@((i == 0).ToString().ToLower())"
                                                aria-controls="collapse-@i">

                                            <div class="d-flex align-items-center w-100">
                                                <div class="d-flex col-8">
                                                    <div class="p-2 bg-success-subtle rounded-2 d-flex align-items-center me-6">
                                                @* <img src="../assets/images/svgs/icon-paypal2.svg" alt="" class="img-fluid" width="24" height="24"> *@
                                                        <b>@grupo.NroRegistro</b>
                                                    </div>
                                                    <div class="me-md-5">
                                                        <h6 class="mb-1 fs-4 fw-semibold text-dark">@grupo.EvaluacionNombre</h6>
                                                        <p class="fs-3 mb-0">
                                                            <b class="text-dark">Inicio: </b>
                                                    @if (grupo.FechaInicio.HasValue)
                                                    {
                                                        <text>@grupo.FechaInicio.Value.ToString("dd/MM/yyyy")</text>
                                                    }
                                                            <br />
                                                            <b class="text-dark">Fin: </b>
                                                    @if (grupo.FechaFin.HasValue)
                                                    {
                                                        <text>@grupo.FechaFin.Value.ToString("dd/MM/yyyy")</text>
                                                    }
                                                        </p>
                                                        <p><b class="text-dark">ESPECIALISTA: </b> @grupo.Especialista</p>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <h6 class="mb-0 fw-semibold rotate-270">@grupo.HistorialEstado</h6>
                                                </div>
                                            </div>
                                        </button>
                            </h2>
                            <div id="collapse-@i" class="accordion-collapse collapse @if(i == 0) {
                    <text>show</text>
}"
                                                                 aria-labelledby="heading-@i"
                                                                 data-bs-parent="#accordionExample2">
                                                                <div class="accordion-body">
                                                                    <ul class="list-group">
                                                                                <li class="d-flex bg-success-subtle py-1 border-bottom">
                                                                            <div class="col-1 text-center fw-semibold d-none d-md-block">Cita</div>
                                                                            <div class="col-2 text-center fw-semibold d-none d-md-block">Fecha</div>
                                                                            <div class="col-2 text-center fw-semibold d-none d-md-block">Hora Inicio</div>
                                                                            <div class="col-2 text-center fw-semibold d-none d-md-block">Hora Fin</div>
                                                                            <div class="col-1 text-center fw-semibold d-none d-md-block">Asistio</div>
                                                                            <div class="col-2 text-center fw-semibold d-none d-md-block">Estado</div>
                                                                            <div class="col-2 text-center fw-semibold d-none d-md-block">Recibo</div>
                                                                        </li>
                                        @foreach (var cita in grupo.Citas)
                                        {
                                                                                            <li class="d-md-flex bg-white py-2 border-bottom">
                                                                                                <div class="d-flex d-md-block col-md-1 col-12 text-center"><strong class="d-md-none d-block mx-2 col-4">Cita: </strong> @cita.numeroCita</div>
                                                                                                <div class="d-flex d-md-block col-md-2 col-12 text-center"><strong class="d-md-none d-block mx-2 col-4">Fecha: </strong> @cita.fechaCita?.ToString("dd/MM/yyyy")</div>
                                                                                                <div class="d-flex d-md-block col-md-2 col-12 text-center"><strong class="d-md-none d-block mx-2 col-4">Hora Inicio: </strong> @(Helper.ConvertirHora(cita.horaCitaDesde))</div>
                                                                                                <div class="d-flex d-md-block col-md-2 col-12 text-center"><strong class="d-md-none d-block mx-2 col-4">Hora Fin: </strong> @(Helper.ConvertirHora(cita.horaCitaHasta))</div>
                                                                                                <div class="d-flex d-md-block col-md-1 col-12 text-center"><strong class="d-md-none d-block mx-2 col-4">Asistio: </strong> @(cita.asistioCita == true ? "SI" : "NO")</div>
                                                                                                <div class="d-flex d-md-block col-md-2 col-12 text-center"><strong class="d-md-none d-block mx-2 col-4">Estado: </strong> @cita.citaEstadoNombre</div>
                                                                                                <div class="d-flex d-md-block col-md-2 col-12 text-center"><strong class="d-md-none d-block mx-2 col-4">Recibo: </strong> @cita.numeroFactura</div>
                                                                                            </li>
                                        }
                                                                    </ul>
                                                                </div>
                                                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="accordion" id="accordionExample2">
                    <div class="accordion-item p-2  ps-4">
                        <H5 class="accordion-header">No hay terapias para mostrar</H5>
                    </div>
                </div>
            }
            <!-- Final historial Tratamiento-->
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        window.onload = function() {
            var sortDx = document.getElementById("sortDx");
            var sortTx = document.getElementById("sortTx");

            if (sortDx) { sortDx.click(); }
            if (sortTx) { sortTx.click(); }
        };

        function mostrarInforme() {
            actionLoagin(document.getElementById("btnMostrar"))
            var load = `<div class="text-center mt-5">
                        <div class="spinner-border" style="width: 4rem; height: 4rem" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <h4 class="text-muted mt-2">Cargando...</h4>
                    </div>`;
            document.getElementById("accordionExample1").innerHTML = load;
            document.getElementById("accordionExample2").innerHTML = load;
            document.getElementById("formInforme").submit();
        }

        let descending1 = false;
        let descending2 = false;

        function sortDivs1(a) {
            const container = document.getElementById("accordionExample1");
            const divs = Array.from(container.children);

            divs.sort((divA, divB) => {
                const idA = parseInt(divA.id);
                const idB = parseInt(divB.id);

                return descending1 ? idA - idB : idB - idA;
            });

            divs.forEach(div => container.appendChild(div));

            descending1 = !descending1;

            if (descending1) {
                a.innerHTML = '<i class="ti ti-sort-descending-2"></i>';
            } else {
                a.innerHTML = '<i class="ti ti-sort-ascending-2"></i>';
            }
        }
        function sortDivs2(a) {
            const container = document.getElementById("accordionExample2");
            const divs = Array.from(container.children);

            divs.sort((divA, divB) => {
                const idA = parseInt(divA.id);
                const idB = parseInt(divB.id);

                return descending2 ? idA - idB : idB - idA;
            });

            divs.forEach(div => container.appendChild(div));

            descending2 = !descending2;

            if (descending2) {
                a.innerHTML = '<i class="ti ti-sort-descending-2"></i>';
            } else {
                a.innerHTML = '<i class="ti ti-sort-ascending-2"></i>';
            }
        }
    </script>
}